
.pageList {
  padding: 0;
  margin: 0 1em;
  list-style: none;
  display: flex;
}

.pageList-item { 
  margin-left: 1em;
}

.pageList-item:first-child {
  margin-left: 0;
}

.page-active {
  font-weight: bold;
}

.pagination {
  display: flex;
}